
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: end;
    justify-content: space-between;
    margin:  30px 130px;
}
.logo{
    color: #E95A08;
    font-weight: 700;
    font-size: 1.37rem;
}
.color{
    color: #E95A08;
    
}
.text-color{
    color:  rgba(0, 0, 0, 0.5);

}
.banner-discription{
    color: rgba(0, 0, 0, 0.5);
}
nav ul{
    display: flex;
    align-items: end;
}
nav ul a{
    list-style: none;
    color: #8987A1;
    text-decoration: none;
     
}
nav ul li{
    text-decoration: none;
    margin-right: 30px;
    list-style: none;
  
}
.banner-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-title{
    font-size: 2rem;
    font-weight: 700;
}
.card-box{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
  text-align: center;
   max-width: 1240px;
margin: 0 auto;
padding: 0;
}
.card-img{
    padding: 0px;
    margin: 0%;
}
.our-image{
    width: 270px;
    height: 315px;
}
.plant-section{
    margin: 0 auto;
    padding: 0%;
}
.plant-info{
    text-align: center;
    justify-content: center;
    margin-top: 125px;
}
.plant-title{
    font-size: 1.55rem;
    font-weight: 700;
}
.span-1{
    font-weight: 500;
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    width: 250px;
    height: 40px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: -1;
    margin-bottom: 60px;
}
.btn-primary:hover{
    background-color: white;
    box-shadow: 2px 1px 4px 0px #E95A08;
    color: black;
}
.lover-section{
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}
.lover-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.color-1{
    color: black;
    font-size: 1.77rem;
    font-weight: 700;
}
.dotted{
    font-size: 0.80rem;
    color: #8987A1;
    margin-top: 10px;
}
.user-feed{
   margin-top: 45px;
   margin-bottom: 20px;
}

.shop-img{
    position: relative;
    width: 330px;
    height: 400px;
}
.deal{
    text-align: center;
    justify-content: center;
}
.deal-title{
    font-weight: 700;
    font-size: 2rem;
}
.deal-discription{
    color: #8987A1;
}
.div-1{
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    width: 367px;
    height: 201px;
}
.div-2{
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    width: 367px;
    height: 201px;
}
.div-3{
    background-image: url(../assets/deal-zabo.png);  
    width: 600px;
    height: 550px;
}